<footer id="page-footer" class="fixed-bottom py-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Manage better with staff<strong>hub</strong></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <p class="footer-copyright"> © 2018 Copyright</p>
            </div>
        </div>
    </div>
</footer>