<div id="mySidenav" class="sidenav bg-dark">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="card bg-dark mt-5">
    <div class="card-title m-auto"> <h3>HR</h3> </div>
  <a href="../../../admin/all-staff">Staff List</a>
  <a href="departments/">Departments</a>
  <a href="staff/handbook">Staff Handbook</a>
  <a href="../medicals/">Medicals</a>
  <a href="staff/appraisal">Appraisals</a>
  <a href="staff/leave">Leave Schedule</a>
  <a href="staff/transfer">Transfers</a>
  </div>
  <div class="card bg-dark">
    <div class="card-title m-auto"> <h3>Accounts</h3></div>
  <a href="accounts/paySlip">Pay Slip</a>
  <a href="accounts/loan">Loan</a>
  </div>
</div>

