<section id="pages">
      <div class="">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 d-lg-block">
              <h1 class="display-4">about staff<strong>HUB</strong></h1>
            <p class="mt-5"> A complete HR app for staff management and information</p>

            </div>
          
          </div>
        </div>
      </div>
  </section>