<section id="pages">
    <div class="container">
    <h4>Welcome {{staff.firstName}}</h4>
    <div class="row">
    <div class="col-lg-8">
        <div class="row card p-3 mt-3">
            <div class="card-title m-auto"><h4>Notifications</h4></div>
            <div class="card-body">
                <p>I'm sort of a softy, I couldn't shoot Bambi except with a camera. Do an almighty painting with us. That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it. The light is your friend. Preserve it.

A tree cannot be straight if it has a crooked trunk. Don't kill all your dark areas - you need them to show the light. Everyone is going to see things differently - and that's the way it should be. If there's two big trees invariably sooner or later there's gonna be a little tree. You can do anything your heart can imagine.

You don't want to kill all your dark areas they are very important. Here's something that's fun. This is a happy place, little squirrels live here and play. Trees cover up a multitude of sins.</p>
            </div>
        </div>
        <div class="row card p-3 mt-3">
            <div class="card-title m-auto"><h4>Annoucements</h4></div>
            <div class="card-body">
                <p>I'm sort of a softy, I couldn't shoot Bambi except with a camera. Do an almighty painting with us. That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it. The light is your friend. Preserve it.

A tree cannot be straight if it has a crooked trunk. Don't kill all your dark areas - you need them to show the light. Everyone is going to see things differently - and that's the way it should be. If there's two big trees invariably sooner or later there's gonna be a little tree. You can do anything your heart can imagine.

You don't want to kill all your dark areas they are very important. Here's something that's fun. This is a happy place, little squirrels live here and play. Trees cover up a multitude of sins.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 card ml-auto mt-3 side-bar" data-spy="scroll">
            <div class="card-title m-auto"><h4>Trending</h4></div>
            <p>I'm sort of a softy, I couldn't shoot Bambi except with a camera. Do an almighty painting with us. That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it. The light is your friend. Preserve it.

A tree cannot be straight if it has a crooked trunk. Don't kill all your dark areas - you need them to show the light. Everyone is going to see things differently - and that's the way it should be. If there's two big trees invariably sooner or later there's gonna be a little tree. You can do anything your heart can imagine.

You don't want to kill all your dark areas they are very important. Here's something that's fun. This is a happy place, little squirrels live here and play. Trees cover up a multitude of sins.

Those great big fluffy clouds. That's a son of a gun of a cloud. This present moment is perfect simply due to the fact you're experiencing it. If you don't like it - change it. It's your world. There's nothing wrong with having a tree as a friend.

Poor old tree. We wash our br</p>
       
    </div>
    </div>
    </div>
</section>